.numbers {
  border: 2px solid grey;
  border-radius: 8px;
  width: auto;
}
#researchMenu {
  display: none;
}
.menuBtn {
  border: 1px solid black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: none;
  background-color: white;
}
.pattyBuy {
  display: none;
}
progress {
  border-radius: 8px;
}
button {
  border-radius: 8px;
}
body {
  background-color: rgb(172, 172, 172);
  font-family: Arial;
}