body {
  font-family: Arial;
  color: white;
  background-color: #13161c;
}
.menuBtn {
  border: 1px solid black;
  border-radius: 8px 8px 0px 0px !important;
  border-bottom: none;
  background-color: white;
}
.imgBtn {
  position: fixed;
  top: 10px;
  right: 5px;
  background-color: transparent;
  border: transparent;
  z-index: 2;
}
#optionsMenu, #orderMenu, #researchMenu, #aMenu {
  display: none;
}
.pattyBuy {
  display: none;
}
button {
  border-radius: 8px;
}
#storyMode {
  background-color: #aaa8;
  text-align: center;
  vertical-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
}
.achievement {
  border: 1px solid rgb(104, 104, 104);
  background-color: rgb(160, 160, 160);
  color: rgb(19, 19, 19);
  border-radius: 8px;
  width: 20%;
  height: 25%;
  text-align: center;
}
.aTitle {
  font-size: large;
  text-align: center;
}
.aBar {
  position: relative;
  bottom: 10px;
}
.bubble1 {
  width: 32.5%;
  position: relative;
  left: 5px;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 16px;
  height: 225px
}
.bubble2 {
  width: 32.5%;
  position: relative;
  left: 33.65%;
  top: -226.5px;
  height: 225px;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 16px;
  overflow-x: hidden;
  text-align: center;
}
.bubble3 {
  width: 32.5%;
  position: relative;
  left: 67%;
  top: -454px;
  height: 225px;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 16px;
}
.halfBleft {
  position: relative;
  left: 10px;
}
.halfBright {
  position: absolute;
  right: 15px;
  top: 5px;
}
#comments {
  text-align: center;
  position: relative;
  top: 75px;
}
.cookBar {
  width: 90px;
}
.cooking {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.centerText {
  text-align: center;
}
.cookingBreak {
  height: 15px;
}
#optionsMenu {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.651);
  color: grey;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
.optionsButton {
  font-size: larger;
}
#autoTog {
  color: white;
}
#graphics > * > * {
  margin: 0px;
  padding: 0px;
}
#graphics > * {
  display: block;
  line-height: 0px;
}
#b1 {
  position: absolute;
  left: 72px;
  top: 44px;
  z-index: -1;
}
#b2 {
  position: absolute;
  left: 168px;
  top: 44px;
  z-index: -1;
}