body {
  font-family: Arial;
}
.menuBtn {
  border: 1px solid black;
  border-radius: 8px 8px 0px 0px !important;
  border-bottom: none;
  background-color: white;
}
#researchMenu, #optionsMenu {
  display: none;
}
.pattyBuy {
  display: none;
}
button {
  border-radius: 8px;
}
.aa {
  border-radius: 8px;
}
#storyMode {
  background-color: #aaa8;
  text-align: center;
  vertical-align: center;
  margin: 100%
}